<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/cinema</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.ddsociety.projet_cinema.entities.Acteur"/>
      <mapping class="com.ddsociety.projet_cinema.entities.Categorie"/>
      <mapping class="com.ddsociety.projet_cinema.entities.Film"/>
      <mapping class="com.ddsociety.projet_cinema.entities.Personnage"/>
      <mapping class="com.ddsociety.projet_cinema.entities.Realisateur"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>